@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: ghostwhite;
    font-family: 'Amatic SC', cursive;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
    background-color: #bebebe;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.brand{
    font-size: 3rem;
}

.menuIcon{
    margin-left: auto;
    cursor: pointer;
}

.modalMenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.500);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 200;
}

.closeIcon{

    color: orange;
    font-size: 2rem;
    position: absolute;
    top: 15vh;
    right: 10%;

}

.closeIcon:hover{
    color: orangered;
    cursor: pointer;
}

.modalMenu a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.modalMenu a:hover{
    color: orange;
    font-size: 2.2rem;
}

.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
}

.container section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    background-image: url(https://picsum.photos/seed/13/900);
    background-size: cover;
    background-attachment: fixed;
}

.about{
    background-image: url(https://picsum.photos/seed/15/900);
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: flex-start !important;
}

.showcase{
    background-image: url(https://picsum.photos/seed/17/900);
    background-size: cover;
    background-attachment: fixed;
}

.contact{
    background-image: url(https://picsum.photos/seed/19/900);
    background-size: cover;
    background-attachment: fixed;
}

.alertAbout{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    position: sticky;
    top: 10vh;
}

